{% extends 'base.html.twig' %}

{% block title %}Détail voiture{% endblock %}

{% block body %}
<style>
    body{
        background: #fff;
    }
</style>



        <!-- Voici notre en‑tête -->
        <header>
            <div class="entete ">
                <div id="logobooki">
                    <img src="/image/logo.jpg" alt="logo Booki" id="logobooki"/>
                </div>

                <div id="section_header">
                    <a class="active menu" href="{{ path('app_loca_index') }}">Accueil</a>
                    {% if not app.user %}
                    <a class="menu" href="{{ path('app_login') }}">Connexion</a>
                    
                    {% else %}
                    <a class="menu" href="{{ path('app_mes_demandes') }}">Mes demandes</a>
                    <a class="menu" href="{{ path('app_logout') }}">Deconnexion</a>
                    {% endif %}
                </div>
            </div>

            <div class="container-site home">
                <div class="home-title">
                    <h2>Trouver votre voiture pour vos déplacements</h2>
                    <br>
                    <br>
                    <p>A des prix incombattables</p>
                </div>


                <!-- Un formulaire de recherche -->

                

                
                
            </div>

        </header>
        <main>
            <div class="container-site">
                <div class="info">
                    <div class="info-circle">
                        <i class="uil uil-info"></i>
                        
                    </div>
                    <span><a href="{{ path('app_loca_index') }}"><button>Retour</button></a></span>
                    
                </div>
            </div>
            <div class="container-site main-center">

                
                <!-- Il contient un article -->
                <article class="list-article">
                    <div class="list-detail">
                    
                        
                    
                        <div class="card card-detail">
                            <img src="{{ voiture.photo }}" alt="" srcset="">
                            <div class="card-text">
                                <h3>{{ voiture.marque }}</h3>
                                <span>A partir de <strong>{{ voiture.prix }} CFA/Jour</strong></span>
                                <div class="star">
                                    <i class='bx bxs-star start-blue' ></i>
                                    <i class='bx bxs-star start-blue' ></i>
                                    <i class='bx bxs-star start-blue' ></i>
                                    <i class='bx bxs-star start-blue' ></i>
                                    <i class='bx bxs-star start-light' ></i>
                                </div>
                                <div class="dispo">
                                {% if voiture.isDisponible == true %}
                                    <i class="uil uil-toggle-on ok"></i>
                                    <span>Disponible</span>
                                {% else %}
                                    <i class="uil uil-toggle-off not"></i>
                                    <span class="span-not">En location</span>
                                {% endif %}
                                </div>
                                
                            </div>
                            {% if voiture.isDisponible == true %}
                                <a href="{{ path('app_louer', {'id': voiture.id}) }}"><button>Louer</button></a>
                            {% else %}
                                <a href="{{ path('app_loca_index') }}"><button>Trouver un autre</button></a>
                            {% endif %}
                        </div>
                        
                    
                        
                    </div>
                    
                </article>

                <!-- Contenu aside -->
                
            </div>

            
        </main>

        <!-- Et voici notre pied de page-->
        <footer>
        <br>
        <br>
        <br>
            <p>&copy; 2022 ESTM EXAMEN</p>
        </footer>

{% endblock %}