{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
<div class="container">
        <!------Début Aside------>
        <aside>
            <div class="top">
                <div class="logo">
                    <h2>SEN-VOITURE</h2>
                </div>
                <div class="close" id="close-btn">
                    <i class="uil uil-times"></i>
                </div>
            </div>

            <div class="sidebar" id="mySide">
                <a href="./"  class="alink">
                    <i class="uil uil-apps"></i>
                    <h3>Dashbord</h3>
                </a>
                <a  href="{{ path('app_user_index')}}" class="alink active">
                    <i class="uil uil-users-alt"></i>
                    <h3>Utilisateurs</h3>
                </a>
                <a  href="{{ path('app_client')}}" class="alink">
                    <i class="uil uil-users-alt"></i>
                    <h3>Clients</h3>
                </a>
                <a  href="./?p=events" id="evnt"  class="alink ">
                    <i class="uil uil-car-sideview"></i>
                    <h3>Voitures</h3>
                </a>
                <a href="{{ path('app_demandes') }}"  class="alink">
                    <i class="uil uil-postcard"></i>
                    <h3>Demandes</h3>
                </a>
                <a href="#" class="alink">
                    <i class="uil uil-car-wash"></i>
                    <h3>Locations</h3>
                </a>
                <a href="../index.php?page=exit">
                    <i class="uil uil-signout"></i>
                    <h3>Déconnexion</h3>
                </a>
            </div>
        </aside>
        <!------Fin Aside------>

        <main>
            <section class="sect" id="event">
<h1>Back office</h1>




<div class="recent-orders" id="corp">

    <div class="myHeads">
        <h2>Détail utilisateur</h2>
    </div>
    <div class="item add-user" id="addEv" >
        <div>
             <a href="{{ path('app_user_index') }}">Retour à la liste</a>
             
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Email</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Telephone</th>
                
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if user %}
            <tr>
                <td>
                    <img class="photo-profil" src="{{ user.photo }}" width="50px" height="50px" style="border-radius:50%">
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.telephone }}</td>
                <td class="action">
                    
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
                <td>{{ include('user/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun untilisateur</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    
</div>


</section>
        </main>

        <!------Fin MAIN------>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <i class="uil uil-bars"></i>
                </button>
                <div class="theme-toggler">
                    <i class="uil uil-sun active"></i>
                    <i class="uil uil-moon"></i>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Bonjour, <b><?= $_SESSION['aprenom'] ?></b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profil-photo">
                        <img src="../assets/images/profil/mianne.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <!------Fin TOP------>

            
    </div>

    

   
   

   

    
{% endblock %}
